[submodule "coffee-timer"]
	path = coffee-timer
	url = https://github.com/Shou/coffee-timer.git
[submodule "Phosphor"]
	path = Phosphor
	url = https://github.com/Shou/Phosphor.git
[submodule "blog"]
    path = blog
    url = https://github.com/Shou/blog.git
